<html>
<head>
<title>{{name}}</title>
</head>
<body bgcolor="yellow">
<h1>MY FORM</h1>
<form name="myform" method="post" action="#" autocomplete="on">
		
		Name <input type="text" name="un" value="" placeholder="First Name" required>
		
		<br>
		Password <input type="password" name="pass">
		
		<br>
		Email <input type="email" name="em">
		
		<br>
		DOB <input type="date" name="dob">
		
		<br>
		Courses <input type="checkbox" name="html" value="Hyper Text Markup Language" checked disabled>HTML
		<input type="checkbox" name="css" value="Cascading Style Sheet">CSS
		
		
		<br>
		Gender <input type="radio" name="gen" value="Male">Male
		<input type="radio" name="gen" value="Female">Female
		
		
		<br>
		Search <input type="search" name="ser">
		
		<br>
		Quantity <input type="number" name="quan">
		
		<br>
		Colour <input type="color" name="col">
		
		<br>
		URL <input type="url" name="url">
		
		<br>
		Price 100<input type="range" name="price">1000
		
		<br>
		Upload <input type="file" name="att" multiple>
		
		<br>
		Country
		<select name="country">
			<option value="" hidden0
			
			
			
			
			
			
			>Select</option>
			<option value="United States of America">USA</option>
			<option value="INDIA" selected>India</option>
			<option value="CANADA">Canada</option>
		</select>
		
		
		<br>
		Description 
		<br>
		<textarea name="desc" cols="50" rows="5">Ducat</textarea>
			
		
		<br>
		<input type="reset" name="res" value="Cancel">
		<input type="submit" name="sub" value="submit ">
		<a href="xyz.html"><input type="button" name="btn" value="xyz"></a>
		
		<button name="btn2" type="reset">Click</button>
</html>