<!DOCTYPE html>
<html>
<head>
<title>Enquiry Form</title>
</head>
<body>
<style>
table,th,td{
border:1px solid black;
padding:5px;
</style>
<table {style="width:100%">
<tr>
<th>firstname</th>
<th>lastname</th>
<th>age</th>
</tr>
<tr>
<td>Amit</td>
<td>Kumar</td>
<td>25</td>
</tr>
<tr>
<td>rajesh</td>
<td>Kumar</td>
<td>21</td>
</tr>
<tr>
<td>vikash</td>
<td>Kumar</td>
<td>20</td>
</tr>
<tr>
<td>sumit</td>
<td>Kumar</td>
<td>28</td>
</tr>
<tr>
<td>Amit</td>
<td>raj</td>
<td>25</td>
</tr>
<h1>bye{{titles}}</h1>
<a href="{{link}}">Home</a>
</body>
</html>
</style>
</body>
</html>